<h1>I wanna be, the very best, showing all the work records! OWWWW!</h1>
<ul>
  <% @work_records.each do |wr| %>
  <li><%= link_to wr.date, wr %> <%= link_to "delete", wr, method: :delete, "data-confirm": "Are you sure you'd like to delete the work record #{wr.date}?" %></li>
  <% end %>
</ul>
<%= link_to "Create new work record", new_work_record_path %>
